/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './sass/variables';

body {
    margin: 0;
}

.container {
    margin: 20px auto 0;
    max-width: 1280px;
    width: 90%;
}
  
@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}
  
@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

.mat-toolbar {
    z-index: 1000;

    > * {
        height: 100%;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .mat-button.active .mat-button-focus-overlay {
        opacity: 1;
    }
}

.card-img {
    width: 100%;
}