<mat-card>
<a routerLink="../"> Speaker </a>
<a> > </a>
<a>{{speaker?.first_name}} {{speaker?.last_name}}</a>
  <h1>
  Speaker Detail
  </h1>
<mat-card style="margin: 5%">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <div class="listDescription"><b>ID: </b></div>
      <div class="listItems">{{speaker?.id}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="listDescription"><b>Vorname: </b></div>
      <div class="listItems">{{speaker?.first_name}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="listDescription"><b>Nachname:</b></div>
      <div class="listItems">{{speaker?.last_name}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="listDescription"><b>E-Mail:</b></div>
      <div class="listItems">{{speaker?.email}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="listDescription"><b>Position: </b></div>
      <div class="listItems">{{speaker?.position}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="listDescription"><b>Organisation: </b></div>
      <div class="listItems">{{speaker?.organization}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="longListItemStyle" role="listitem">
      <div class="listDescription"><b>Kurzbiographie: </b></div>
      <div class="listItems" [innerHtml]="speaker?.merged_short_bio"></div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngIf="speaker?.formatted_short_bio" class="longListItemStyle" role="listitem">
        <div class="listDescription"><b>Unformatierte Kurzbiographie:</b></div>
        <div class="listItems">{{speaker?.short_bio}}</div>
      </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="listDescription"><b>Foto: </b></div>
      <div class="listItems">{{speaker?.photo_url}}</div>
    </mat-list-item>
    <mat-list-item class="longListItemStyle" role="listitem">
      <div style="width: 90%; margin-left: 10%;"><img [src]="speaker?.photo_url" style="height: 100px" alt="Vorschau" onerror="this.alt='Vorschau konnte nicht geladen werden';"></div>
    </mat-list-item>
  </mat-list>
  <button style="margin: 10px 10px 0px 0px;" mat-raised-button color="primary" [routerLink]="['edit/']">Speaker bearbeiten</button>
</mat-card>
</mat-card>

