<mat-card>
  <!-- Routing through path -->
  <a routerLink="../../../../../">Event</a>
  <a> > </a>
  <a routerLink="../../../../">{{event?.title}}</a>
  <a> > </a>
  <a routerLink="../../">{{session?.title}}</a>
  <a> > </a>
  <a>{{presentation?.title}}</a>
  <!-- Title of the site -->
  <h1>
    Präsentation Detail Ansicht
  </h1>
  <mat-card style="margin: 5%">
    <mat-list role="list" *ngIf="presentation">
      <!-- Presentation ID -->
      <mat-list-item role="listitem">
        <div class="listDescription"><b>ID: </b></div>
        <div class="listItems">{{presentation?.id}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Presentation Title -->
      <mat-list-item role="listitem">
        <div class="listDescription"><b>Titel: </b></div>
        <div class="listItems">{{presentation?.title}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Presentation Abstract -->
      <mat-list-item class="longListItemStyle" role="listitem">
        <div class="listDescription"><b>Abstract: </b></div>
        <div class="listItems">{{presentation?.abstract}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Presentation SLides -->
      <mat-list-item role="listitem">
        <div class="listDescription"><b>Slides: </b></div>
        <div class="listItems">{{presentation?.slides}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Presentation Start, only works on Chrome -->
      <mat-list-item role="listitem">
        <div class="listDescription"><b>Start: </b></div>
        <div class="listItems">{{presentation?.start}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Presentation End, only works on Chrome -->
      <mat-list-item role="listitem">
        <div class="listDescription"><b>Ende: </b></div>
        <div class="listItems">{{presentation?.end}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Presentation Room -->
      <mat-list-item role="listitem">
        <div class="listDescription"><b>Raum: </b></div>
        <div class="listItems">{{presentation?.room}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- Navigates to Edit Form -->
      <mat-list-item>
        <button mat-icon-button color="accent" [routerLink]="['edit/']">
            <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <!-- Shows Speakers of this Presentation and allows to add new Speakers -->
       <app-presentation-speaker [presentation]="presentation"></app-presentation-speaker>
  </mat-card>
</mat-card>

