<mat-card>
           <a routerLink="/speaker">Speaker</a>
           <p>
             First there is a routing list, to see where you are and to go back!
             <a href="/speaker">Speaker</a>
           </p>
           <p>
             Next there is a button to create new events
           </p>
           <button mat-raised-button color="primary" routerLink="/speaker/speaker-form">Speaker hinzufügen</button>
           <div><app-speaker-list></app-speaker-list></div>
           <!--<button mat-raised-button color="warn" (click)="deleteEvent()">Delete</button>-->

           </mat-card>
