<h1>Speaker der Präsentation: <b>{{presentation?.title}}</b></h1>
<mat-form-field style="width: 100%" class="example-chip-list">
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let speaker of presentation?.speakers"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(speaker)">
      {{speaker.first_name}} {{speaker.last_name}}, {{speaker.organization}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Neuer Speaker hinzufügen"
      #fruitInput
      [formControl]="speakerForm"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let speaker of filteredSpeakers | async" [value]="speaker"
   >
      {{speaker.first_name}} {{speaker.last_name}}, {{speaker.organization}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
