<form (ngSubmit)="onSubmit()" [formGroup]="presentationForm">
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Titel" type="text" formControlName="title" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Abstract" type="text" formControlName="abstract" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Start" type="datetime-local" formControlName="start" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ende" type="datetime-local" formControlName="end" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Slides" type="text" formControlName="slides" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Access Token" type="text" formControlName="access_token" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Raum" type="text" formControlName="room" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField" hidden>
    <input matInput placeholder="Session ID" type="text" formControlName="session_id" required>
  </mat-form-field>
  <div class="fullSizeFormField">
    <button mat-raised-button color="primary" [disabled]="presentationForm.invalid" class="submit-button">
      <mat-icon>input</mat-icon> Präsentation hinzufügen
    </button>
  </div>
  <!--comment for vollständigkeit commits"-->
</form>
