<!-- Form to create or edit a Presentation, is called in Presentation Edit and Presentation Create -->
<form (ngSubmit)="onSubmit()" [formGroup]="presentationForm">
  <!-- Presentation Title -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Titel" type="text" formControlName="title" required>
  </mat-form-field>
  <!-- Presentation Abstract -->
  <mat-form-field class="fullSizeFormField">
    <textarea matInput placeholder="Unformatiertes Abstract (für ältere App-Versionen und falls kein formatiertes Abstract angegeben wird)" type="text" formControlName="abstract" required></textarea>
  </mat-form-field>
  <!-- Presentation Formatted Abstract -->
  <div class="fullSizeFormField htmlEditor">
    <angular-editor placeholder="Formatiertes Abstract" formControlName="formatted_abstract" [config]="editorConfig"></angular-editor>
  </div>
  <!-- Presentation Start -->
  <mat-form-field>
    <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="start" placeholder="Start" required>
    <owl-date-time #dt1></owl-date-time>
  </mat-form-field>
  <!-- Presentation End -->
  <mat-form-field>
    <input matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" formControlName="end" placeholder="Ende" required>
    <owl-date-time #dt2></owl-date-time>
  </mat-form-field>
  <!-- Presentation Slides -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Slides" type="text" formControlName="slides" required>
  </mat-form-field>
  <!-- Presentation Access Token -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Access Token" type="text" formControlName="access_token" required>
  </mat-form-field>
  <!-- Presentation Room -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Raum" type="text" formControlName="room" required>
  </mat-form-field>
  <!-- Presentatiom Session ID -->
  <mat-form-field class="fullSizeFormField" hidden>
    <input matInput placeholder="Session ID" type="text" formControlName="session_id" required>
  </mat-form-field>
  <!-- Presentation Position -->
  <mat-form-field>
    <input matInput placeholder="Position (aufsteigend, optional)" type="number" formControlName="position">
  </mat-form-field>
  <!-- Button to submit the form -->
  <div class="fullSizeFormField">
    <button mat-raised-button color="primary" [disabled]="presentationForm.invalid" class="submit-button">
      <mat-icon>input</mat-icon>{{buttonTitle}}
    </button>
  </div>
</form>
