<mat-card>
  <!-- Navigation on top of the site -->
  <a routerLink="../../../../../../">Event</a>
  <a> > </a>
  <a routerLink="../../../../../">{{event?.title}}</a>
  <a> > </a>
  <a routerLink="../../../">{{session?.title}}</a>
  <a> > </a>
  <a routerLink="../">{{presentation?.title}}</a>
  <a> > </a>
  <a>{{presentation?.title}} anpasssen</a>
  <!-- Site Title -->
  <h1>
  Präsentation anpassen
  </h1>
  <!-- Opens the PresentationForm with the data of the selected Presentation -->
  <app-presenation-form [presentation]="presentation" (presentationSubmit)="submit($event)" buttonTitle="Präsentation anpassen"></app-presenation-form>
</mat-card>
