<mat-card>
  <!-- Navigation on top of the site -->
  <a routerLink="../../../../../../">Event</a>
  >
  <a routerLink="../../../../../">{{event?.title}}</a>
  <ng-container *ngIf="session"> > </ng-container>
  <a *ngIf="session" routerLink="../../../">{{session?.title}}</a>
  >
  <a routerLink="../">{{presentation?.title}}</a>
  >
  {{presentation?.title}} anpasssen
  <!-- Site Title -->
  <h1>
  Präsentation anpassen
  </h1>
  <!-- Opens the PresentationForm with the data of the selected Presentation -->
  <app-presenation-form [presentation]="presentation" (presentationSubmit)="submit($event)" buttonTitle="Präsentation anpassen"></app-presenation-form>
</mat-card>
