<!-- Filter the elements of the list -->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titel </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung </th>
      <td mat-cell *matCellDef="let element" [innerHtml]="element.merged_description"></td>
    </ng-container>

    <!-- Start Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
      <td mat-cell *matCellDef="let element"> {{ element.start | datePipe:'l LT' : true }} </td>
    </ng-container>

    <!-- End Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ende </th>
      <td mat-cell *matCellDef="let element"> {{ element.end | datePipe:'l LT' : true }} </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ort </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <!-- Image URL Column -->
    <ng-container matColumnDef="image_path">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bild</th>
      <td mat-cell *matCellDef="let element">
        <div><a [href]="element.image_path" target="_blank">{{element.image_path}}</a></div>
        <div><img [src]="element.image_path" style="max-height: 100px; max-width: 100px;" alt="Vorschau" onerror="this.alt='Vorschau konnte nicht geladen werden';"/></div>
      </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef> Kategorien </th>
      <td mat-cell *matCellDef="let element"> {{element.categories | categoryPipe}} </td>
    </ng-container>

    <!-- Published Column -->
    <ng-container matColumnDef="published">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Publiziert </th>
      <td mat-cell *matCellDef="let element"> {{element.published}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Aktionen </th>
      <td mat-cell *matCellDef="let element">
        <div style="white-space: nowrap;">
          <button mat-icon-button color="primary" [routerLink]="['/event/', element.id]" title="Details">
            <mat-icon class="mat-18">info</mat-icon>
          </button>
          <button mat-icon-button color="accent"  [routerLink]="['/event/' + element.id + '/edit']" title="Bearbeiten">
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteDialog(element)" title="Löschen">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
      </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- Paginator, lets the User decide how many Elements should be on the first site of the table -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
