<mat-card>
  <!-- Navigation on the top of the site -->
  <ng-container *ngIf="session">
    <a routerLink="../../../../../">Event</a> >
    <a routerLink="../../../../">{{event?.title}}</a> >
    <a routerLink="../../">{{session?.title}}</a> >
    Präsentation hinzufügen
  </ng-container>
  <ng-container *ngIf="!session">
    <a routerLink="../../../">Event</a> >
    <a routerLink="../../">{{event?.title}}</a> >
    Präsentation hinzufügen
  </ng-container>

  <!-- Site Title --->
  <h1>
    Präsentation erfassen
  </h1>
  <!-- Opens the Form and allows to create new Presentations -->
  <app-presenation-form (presentationSubmit)="submit($event)" buttonTitle="Präsenation hinzufügen"></app-presenation-form>
</mat-card>
