<form (ngSubmit)="onSubmit()" [formGroup]="speakerForm">
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Vorname" type="text" formControlName="first_name" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Nachname" type="text" formControlName="last_name" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Email" type="text" formControlName="email">
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Position" type="text" formControlName="position" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Organisation" type="text" formControlName="organization" required>
  </mat-form-field>
  <mat-form-field class="fullSizeFormField">
    <textarea matInput placeholder="Unformatierte Kurzbiografie (für ältere App-Versionen und falls kein formatiertes Abstract angegeben wird)" formControlName="short_bio" required></textarea>>
  </mat-form-field>
  <!-- Speaker Formatted Short Bio -->
  <div class="fullSizeFormField htmlEditor">
    <angular-editor placeholder="Formatierte Kurzbiografie" formControlName="formatted_short_bio" [config]="editorConfig"></angular-editor>
  </div>
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Photo URL" type="text" formControlName="photo_url" required>
  </mat-form-field>
  <div class="fullSizeFormField">
    <button mat-raised-button color="primary" [disabled]="speakerForm.invalid" class="submit-button">
      <mat-icon>input</mat-icon>{{buttonTitle}}
    </button>
  </div>
</form>
