<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Speaker suchen">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
      <td mat-cell *matCellDef="let element"> {{element?.first_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
      <td mat-cell *matCellDef="let element"> {{element?.last_name}} </td>
    </ng-container>

    <!-- e-mail Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail </th>
      <td mat-cell *matCellDef="let element"><a [href]="'mailto:' + element?.email" target="_blank">{{element?.email}}</a></td>
    </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let element"> {{element?.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Organisation </th>
        <td mat-cell *matCellDef="let element"> {{element?.organization}} </td>
      </ng-container>

      <!-- Short Bio Column -->
      <ng-container matColumnDef="short_bio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kurzbiografie </th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element?.merged_short_bio"></td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="photo_url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bild</th>
          <td mat-cell *matCellDef="let element">
            <div><a [href]="element?.photo_url" target="_blank">{{element?.photo_url}}</a></div>
            <div><img [src]="element?.photo_url" style="max-height: 100px; max-width: 100px;" alt="Vorschau" onerror="this.alt='Vorschau konnte nicht geladen werden';"/></div>
          </td>
        </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Aktionen </th>
        <td mat-cell *matCellDef="let element">
          <div style="white-space: nowrap;">
            <button mat-icon-button color="primary" [routerLink]="['/speaker', element.id]" title="Details">
                <mat-icon class="mat-18">info</mat-icon>
            </button>
            <button mat-icon-button color="accent" [routerLink]="['/speaker/' + element.id + '/edit']" title="Bearbeiten">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDeleteDialog(element)" title="Löschen">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[25, 100]"></mat-paginator>
</div>
