<table mat-table [dataSource]="speakers" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> Vorname </th>
    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Nachname </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef> Organisation </th>
      <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="image_path">
      <th mat-header-cell *matHeaderCellDef> Bild URL </th>
      <td mat-cell *matCellDef="let element"> {{element.image_path}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="short_bio">
      <th mat-header-cell *matHeaderCellDef> Kursbiografie </th>
      <td mat-cell *matCellDef="let element"> {{element.short_bio}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
