@import 'variables';

.login-box {
    min-height: calc(100vh - 64px);
 }

 .login-box-title {
  margin: -24px -24px 20px !important;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: $accent-color;
}
 
 .mat-form-field {
   padding: 0 10px;
 }