.mat-form-field {
  padding: 0 10px;

}

.fullSizeFormField {
  width: calc(100% - 30px);
}

textarea {
  height: 250px;
}

.checkboxStyle {
  margin-left: 15px;
  height: 50px;
}

.submit-button {
  margin-top: 20px;
}

.mat-card-title {
  margin-top: 10px !important;
}

.category-container {
  margin-left: 10px;
  width: calc(100% - 30px)
}


form {
  max-width: 1000px;
  margin: auto;
}