<mat-card>
<a routerLink="/event">Event</a>
<a> > </a>
<a routerLink="/event/event-form">Event-Form</a>
  <mat-card-title class="marginForTitle">Event hinzufügen</mat-card-title>
  <form (ngSubmit)="onSubmit()" [formGroup]="eventForm">
    <mat-form-field class="fullSizeFormField">
      <input matInput placeholder="Titel" type="text" formControlName="title" required>
    </mat-form-field>
    <mat-form-field class="fullSizeFormField">
      <input matInput placeholder="Beschreibung" type="text" formControlName="description" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Start" type="datetime-local" formControlName="start" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ende" type="datetime-local" formControlName="end" required>
    </mat-form-field>
    <mat-form-field class="fullSizeFormField">
      <input matInput placeholder="Ort" type="text" formControlName="location" required>
    </mat-form-field>
    <mat-form-field class="fullSizeFormField">
      <input matInput placeholder="Bild URL" type="text" formControlName="image_path" required>
    </mat-form-field>
    <mat-form-field class="fullSizeFormField">
      <input matInput placeholder="URL" type="text" formControlName="url" required>
    </mat-form-field>
    <mat-form-field class="fullSizeFormField">
      <input matInput placeholder="URL Label" type="text" formControlName="url_label" required>
    </mat-form-field>
    <!--
    <mat-form-field>
      <mat-label>Publiziert</mat-label>
      <mat-select [formControl]="eventForm.controls['published']" [required]="true">
        <mat-option value="true">Ja</mat-option>
        <mat-option value="false">Nein</mat-option>
      </mat-select>
      <!--<input matInput placeholder="Veröffentlicht" type="boolean" formControlName="published" required>
    </mat-form-field>
    -->
    <mat-checkbox class="checkboxStyle" [formControl]="eventForm.controls['published']" >Publizieren</mat-checkbox>
    <div class="fullSizeFormField">
      <button mat-raised-button color="primary" [disabled]="eventForm.invalid" class="submit-button">
        <mat-icon>input</mat-icon> Event hinzufügen
      </button>
    </div>
    <!--comment for vollständigkeit commits"-->


  </form>
</mat-card>

