<!-- This EventForm is used for the Create and Edit Component-->
<form (ngSubmit)="onSubmit()" [formGroup]="eventForm">
  <!-- Event Title Formfield -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Titel" type="text" formControlName="title" required>
  </mat-form-field>
  <!-- Event Description Formfield -->
  <mat-form-field class="fullSizeFormField">
    <textarea matInput placeholder="Beschreibung" type="text" formControlName="description" required></textarea>
  </mat-form-field>
  <!-- Event Start -->
  <mat-form-field>
    <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="start" placeholder="Start" required>
    <owl-date-time #dt1></owl-date-time>
  </mat-form-field>
  <!-- Event End -->
  <mat-form-field>
    <input matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" formControlName="end" placeholder="Ende" required>
    <owl-date-time #dt2></owl-date-time>
  </mat-form-field>
  <!-- Event Location Formfield -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Ort" type="text" formControlName="location" required>
  </mat-form-field>
  <!-- Event Image Path -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="Bild URL" type="text" formControlName="image_path" required>
  </mat-form-field>
  <!-- Event URL -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="URL" type="text" formControlName="url" required>
  </mat-form-field>
  <!-- Event URL Label -->
  <mat-form-field class="fullSizeFormField">
    <input matInput placeholder="URL Label" type="text" formControlName="url_label" required>
  </mat-form-field>
  <!-- Checkbox to tell if the Event should be published or not -->
  <mat-checkbox class="checkboxStyle" [formControl]="eventForm.controls['published']" >Publizieren</mat-checkbox>
  <div class="fullSizeFormField">
    <!-- Button to submit the data, takes the Button description from Edit or create -->
    <button mat-raised-button color="primary" [disabled]="eventForm.invalid" class="submit-button">
      <mat-icon>input</mat-icon> {{buttonTitle}}
    </button>
  </div>
</form>

